<div>
    <h4 class="text-primary pt-3">Another Child Component</h4>
    <input id="nametemp" @attributes="InputAttributes">
</div>

@code {
    [Parameter]
    public Dictionary<string, object> InputAttributes { get; set;  } = new Dictionary<string, object>()
    {
        {"required", "required"},
        {"placeholder",  "..."},
        {"maxlength", 5}
    };
}
